---

  - name: Prometheus alert manager | create group
    group: name={{ prometheus_alertmanager_group }}  state=present
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | create user
    user:
      name: "{{ prometheus_alertmanager_user }}"
      group: "{{ prometheus_alertmanager_group }}"
      createhome: no
      shell: /sbin/nologin
      comment: "Prometheus User"
      state: present
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Ensure service folder
    file:
      path: "{{ prometheus_alertmanager_base_dir }}"
      state: "directory"
      owner: "{{ prometheus_alertmanager_user }}"
      group: "{{ prometheus_alertmanager_group }}"
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Ensure config folder
    file:
      path: "{{ prometheus_alertmanager_config_dir }}"
      state: "directory"
      owner: "root"
      group: "{{ prometheus_alertmanager_group }}"
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Ensure config templates folder
    file:
      path: "{{ prometheus_alertmanager_config_dir }}/template"
      state: "directory"
      owner: "root"
      group: "{{ prometheus_alertmanager_group }}"
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Download distribution
    get_url:
      url: "{{ prometheus_alertmanager_dist_url }}"
      dest: "{{ prometheus_alertmanager_dist_location }}"
    become: yes
    become_user: "{{ prometheus_alertmanager_user }}"
    tags:
      - prometheus

  - name: Prometheus alert manager | unpack distribution
    unarchive:
      src: "{{ prometheus_alertmanager_dist_location }}"
      dest: "{{ prometheus_alertmanager_base_dir }}"
      remote_src: yes
    become: yes
    become_user: "{{ prometheus_alertmanager_user }}"
    tags:
      - prometheus

  - name: Prometheus alert manager | link distrution
    file:
      src: "{{ prometheus_alertmanager_base_dir }}/alertmanager-{{ prometheus_alertmanager_version }}.linux-amd64/"
      dest: "{{ prometheus_alertmanager_base_dir }}/alertmanager"
      owner: "root"
      group: "{{ prometheus_alertmanager_group }}"
      state: link
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Configuring settings file for alert manager
    copy:
      src: "{{ role_dir }}/templates/alertmanager_configuration.j2"
      dest: "{{ prometheus_alertmanager_config_dir }}/prometheus_alertmanager_configuration"
      owner: "root"
      group: "{{ prometheus_alertmanager_group | default(prometheus_group) }}"
      mode: "u=rw,g=r,o="
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Configuring alert manager config.yml
    copy:
      src: "{{ role_dir }}/templates/config.yml"
      dest: "{{ prometheus_alertmanager_config_dir }}/config.yml"
      owner: "root"
      group: "{{ prometheus_alertmanager_group }}"
      mode: "u=rw,g=r,o="
      backup: yes
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Configuring alert manager improved template
    copy:
      src: "{{ role_dir }}/templates/template/notifications.tmpl"
      dest: "{{ prometheus_alertmanager_config_dir }}/template/notifications.tmpl"
      owner: "root"
      group: "{{ prometheus_alertmanager_group }}"
      mode: "u=rw,g=r,o="
      backup: yes
    become: yes
    tags:
      - prometheus

  - name: Prometheus | Template upgrade script
    template:
       src: "{{ role_dir }}/templates/upgrade.sh.j2"
       dest: "{{ prometheus_alertmanager_base_dir }}/upgrade.sh"
       owner: root
       group: root
       mode: "u=rwx,g=rx"
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager | Configuring systemd file for alert manager
    template:
      src: "{{ role_dir }}/templates/systemd_alertmanager.service.j2"
      dest: /etc/systemd/system/prometheus-alertmanager.service
      mode: 0644
    when: docker_test is not defined
    become: yes
    tags:
      - prometheus

  - name: Prometheus alert manager  | Configuring startup for alert manager
    service: name="prometheus-alertmanager" state="started" enabled="yes"
    when: docker_test is not defined
    become: yes
    tags:
      - prometheus

